__pycache__/
*.pyc
.ipynb_checkpoints/
.envv e n v / 
 
 * . t x t 

 venv/
*.txt

*.csv
*.pkl
*.h5

# Python virtual environments
venv/

# Git 管理から除外
data/**
*.csv
*.pkl
*.h5

# ただし src/data/ だけは追跡させる
!src/data/
!src/data/**

# data warehouse – never tracked!
../project_10k_to_1m_data/
*.csv
*.zip
*.pkl
*.h5
*.joblib